<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 

    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <style>
    
    		table{
    		
				border-collapse: collapse;
			
			}
			
			th, td{
			
				border: 1px solid red;
				padding: 8px;
			
			}
			
			#remelis{
			
				
			
			}
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
		$( document ).ready( function() {

			function piesti ( remelis, apskritimai ){
    			
    				var canvas = document.getElementById(remelis);
					var ctx = canvas.getContext("2d");
					
					ctx.beginPath();
					ctx.moveTo(200, 0);
					ctx.lineTo(200, 400);
					ctx.moveTo(0, 200);
					ctx.lineTo(400, 200);							
					ctx.stroke();
					
					for ( i = 0; i < apskritimai.length; i++ ) {
						ctx.beginPath();
						//ctx.moveTo(200 + apskritimai[i].x + apskritimai[i].radius, 400 - apskritimai[i].y);
						ctx.arc( 
							200 + 2 * parseInt ( apskritimai[i].x )
							, 200 - 2 * parseInt ( apskritimai[i].y )
							, parseInt ( apskritimai[i].radius )
							, 0
							, 2 * Math.PI
						);
						ctx.stroke();
						
						
					}
											
					// ctx.fillStyle = "#FF0000";
					// ctx.fillRect(0, 0, 150, 75);
    				
    			}
    			
    			function apskritimu_lentele ( id_lenteles, apskritimai, taskai){
    			
    				lentele = '<table><tr><th>x</th><th>y</th><th>radius</th></tr>';
									    			
					for ( i = 0; i < apskritimai.length; i++ ) {
			
						lentele += 
							'<tr><td>' + apskritimai[i].x +
							 '</td><td>' +  apskritimai[i].y +
							  '</td><td>' + apskritimai[i].radius +
							   '</td></tr>' ;
						
					}
		
					lentele += '</table>';
					
					lentele += 'Tasku kiekis : ' + taskai;
					 
					apskritimai = document.getElementById( id_lenteles );
		
					apskritimai.innerHTML = lentele;
    			
    			}
    			
    	
    		$( '#piesk' ).click ( function() {
    			
				$.ajax(
					{
						
						url: '/zaidimas'
						
						}).done(function(zaidimas){
							console.log(zaidimas);
							piesti ( 'remelis', zaidimas.apskritimai );
							apskritimu_lentele ( 'lentele', zaidimas.apskritimai, zaidimas.taskai);		    		
		  			}
		  		);
		 	});
				
				/*$( '#zaisk' ).click ( function() {
    			
				$.ajax(
					{
						
						url: '/apskritimai'
						,}).done(function(apskritimai){
									    		
				  		});
				 	}
				);*/
				
    	});								    		
		//});
		
    </script>
    
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" /> <br>
    
    <input type="button" id="piesk" value="Piesti">
	
 	<br>
 	
    <div id="lentele">
 	</div>
 		
	  
	 <br>
	  
	 <canvas id="remelis" width="400" height="400">
	 </canvas>
	 
	 <br>

	 <form method="post" action="">
	 	<label for ="xkoor">X koordinates</label><br>
		<input type="text" name="xkoor" id="xkoor" value"">
		<br>
		<label for ="ykoor">Y koordinates</label><br>
		<input type="text" name="ykoor" id="ykoor" value"">
		<br>
		<label for ="radius">Radius</label><br>
		<input type="text" name="radius" id="radius" value"">
		<br>
		<input type="hidden" name="sukurimas" value="sukurk">
		<input type="submit" id="sukurk" value="Prideti" name="sukurk">
	 </form>

	 <br>
	 
	 <form method="post" action="">
	 	<input type="hidden" name="zaidimas" value="zaisk">
		<input type="submit" id="zaisk" value="Zaisti is naujo" name="zaisk">
	 </form>
	
</body>
</html>